<section class="newsletter accent-bg">
  <div class="background-image-holder overlay accent">
    <%= image_tag('bg-4.jpg', class: 'background-image',  alt: 'Background') %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 text-left">
        <h2 class="page-title">Search our products</h2>
      </div>
      <div class="col-md-4">
        <form class="newsletter-form">
          <%= form_tag(search_results_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search%>
          <%= select_tag "categories" , options_from_collection_for_select(@categories, "id", "name"), include_blank: true %>
          <%=submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
        </form>
    </div>
    <% end %>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="footer-navigation">
          <li class="active">
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'Products', shop_path %>
          </li>
          <li>
            <%= link_to 'About', about_path %>
          </li>
          <li>
            <%= link_to contact_path do %>
              <i class="fa fa-paper-plane"></i> Contact
              <% end %>
          </li>
        </ul>
        <ul class="accepted-payments">
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-cc-amex"></i>
            <% end %>
          </li>
          <li>
            <%=link_to root_path do %>
              <i class="fa fa-cc-visa"></i>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-paypal"></i>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-cc-stripe"></i>
              <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-cc-mastercard"></i>
            <% end %>
          </li>
        </ul>
        <div class="copyright">
          <p>Copyright © 2017. Mohamed Ibshara</p>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer>
