<!DOCTYPE html>
<html>
<head>
  <title>Healthy & Sweet</title>
  <%= stylesheet_link_tag		'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag		'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag   	'http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' %>
  <%= javascript_include_tag	'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag	'https://js.braintreegateway.com/js/braintree-2.32.1.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/header' %>

  <%= render 'shared/message' %>

	<div class="main-container">

		<%= yield %>

		<%= render 'shared/footer' %>

	</div><!-- /.main-container -->

</body>
</html>
